/* styles.css */

.app {
    max-width: 600px;
    margin: 0 auto;
  
  }
  
  .message {
    margin: 10px 0;
  }
  
  .message-form {
    margin-top: 20px;
    display: flex;  /* 플렉스 컨테이너로 설정 */
    flex-direction: column;  /* 아이템들을 수직으로 쌓음 */
    align-items: center;  /* 교차 축(수직 방향)을 따라 아이템들을 가운데 정렬 */
  }
  
